.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2
}

.home .subtitle {
    font-size: 1.1rem;
}

table {
    width: 100%;

}

.divTable {
    margin-top: 3%;
}

a:link {color: #9968ED}
a:visited {color:#e35e6b}
a:hover {color: #3e5be9}
a:active {color:  #28a745}



